
<div class="container d-flex justify-content-center mx-0 px-0">
  <div class="row w-100">
    <!-- Texto en pantallas peque침as y columnas en pantallas m치s grandes -->
    <div class="mb-2 mb-sm-0 mx-2 mx-sm-0 col-11 col-md-3 d-flex justify-content-center align-items-center text-center border border-secondary-subtle border-2 rounded">
        <h1 class="mt-3 mt-sm-0">
            <strong>C O N T R O L<br>D E<br>I N G R E S O S<br>Y<br>G A S T O S</strong><br>
        </h1>
        <br>
    </div>
    <!-- Imagen en pantallas peque침as y columnas en pantallas m치s grandes -->
    <div class="col-12 col-md-9 d-flex justify-content-center">
      <%= image_tag "portada.jpg", class: "img-fluid", alt: "Portada" %>
    </div>
  </div>
</div>