<div id="<%= dom_id apartment %>">
  <p>
    <strong>Number:</strong>
    <%= apartment.number %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= apartment.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= apartment.user_id %>
  </p>

</div>
