<% content_for :title, "Apartments" %>

<h1>Departamentos</h1>

<%= link_to "Crear departamento", new_apartment_path, class:"mb-3 fs-5 btn btn-info" %>

<div id="apartments">

      <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr class="table-primary">
            <th class="text-center" scope="col">Número</th>
            <th scope="col">Nombre</th>
          </tr>
        </thead>
        <tbody>
          <% @apartments.each do |apartment| %>
            <%= render "apartment", apartment: apartment %>
          <% end %>
        </tbody>
      </table>
    </div> 

</div>
